.header{
    display: flex;
    font-family: Manrope;
    font-size: 32px;
    background-color: #3470FF;
    color: #fff;
    width: 100%;
    height: 94px;
    padding: 24px 36px;
    justify-content: space-between;

}


.navli{
    font-family: Manrope;
    display: inline;
    margin-right: 5px;
    padding: 3px;
    color: #fff;
}

.navtext{
    color: #fff;
}

.navtext:hover,
.navtext:focus{
    -webkit-text-stroke: 0.8px #FFFFFF; 
    stroke: 1px #FFFFFF;
    color: #0B44CD;
}